<%= form_for @employee, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :empno, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :empno, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :first_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :first_name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :middle_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :middle_name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :last_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :last_name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :gender, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :gender, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :dob, :class => 'control-label' %>
    <div class="controls">
      <%= f.date_select :dob, :class => 'date_select' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :passportno, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :passportno, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :pidate, :class => 'control-label' %>
    <div class="controls">
      <%= f.date_select :pidate, :class => 'date_select' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :pedate, :class => 'control-label' %>
    <div class="controls">
      <%= f.date_select :pedate, :class => 'date_select' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :iqamano, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :iqamano, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :iqidate, :class => 'control-label' %>
    <div class="controls">
      <%= f.date_select :iqidate, :class => 'date_select' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :iqedate, :class => 'control-label' %>
    <div class="controls">
      <%= f.date_select :iqedate, :class => 'date_select' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :insuranceno, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :insuranceno, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :iidate, :class => 'control-label' %>
    <div class="controls">
      <%= f.date_select :iidate, :class => 'date_select' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :iedate, :class => 'control-label' %>
    <div class="controls">
      <%= f.date_select :iedate, :class => 'date_select' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :visano, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :visano, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :vidate, :class => 'control-label' %>
    <div class="controls">
      <%= f.date_select :vidate, :class => 'date_select' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :vedate, :class => 'control-label' %>
    <div class="controls">
      <%= f.date_select :vedate, :class => 'date_select' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :Marstatus, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :Marstatus, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :religion, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :religion, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :nationality, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :nationality, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :civstatus, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :civstatus, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :designation, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :designation, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :department, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :department, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :speciali, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :speciali, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :exp, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :exp, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :email, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :email, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                employees_path, :class => 'btn' %>
  </div>
<% end %>
