<%= simple_form_for @employee, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.input :empno,label:"Employee No" %>
    <%= f.input :first_name,label:"First Name" %>
    <%= f.input :middle_name,label:"Middle Name" %>
    <%= f.input :last_name,label:"Last name" %>
    <%= f.input :gender,collection:['male','female'],label:"Gender", as: :radio, :class=> 'checkbox inline'%>
    <%= f.input :dob,label:"Date of Birth" %>
  </div>
  <div class="control-group">
    <%= f.input :passportno,label:"Passport Number" %>
    <%= f.input :pidate,label:"Passport Issue Date" %>
    <%= f.input :pedate,label:"Passport Expiry Date" %>
    <%= f.input :iqamano,label:"Iqama Number" %>
    <%= f.input :iqidate,label:"Iqama Issue Date" %>
    <%= f.input :iqedate,label:"Iqama Expiry Date" %>
    <%= f.input :insuranceno,label:"Insurance Number" %>
    <%= f.input :iidate,label:"Insurance Issue Date" %>
    <%= f.input :iedate,label:"Insurance Expiry Date" %>
    <%= f.input :visano,label:"Visa Number" %>
    <%= f.input :vidate,label:"Visa Issue Date" %>
    <%= f.input :vedate,label:"Visa Expiry Date" %>
  </div>
  <div class="control-group">
    <%= f.input :Marstatus,label:"Marital Status", collection:["single","married"],as: :radio_buttons %>
    <%= f.input :religion,label:"Religion",collection:[["Muslim","muslim"],["Non-Muslim","non_muslim"]] %>
    <%= f.input :nationality,label:"Nationality", as: :country %>
    <%= f.input :civstatus,label:"Civil Status" %>
    <%= f.input :designation,label:"Designation" %>
    <%= f.input :department,label:"Department" %>
    <%= f.input :speciali,label:"Specialisation" %>
    <%= f.input :exp,label:"Experience" %>
    <%= f.input :email,label:"Email" ,placeholder:'user@domain.com'%>
    
 </div>
    

  <div class="form-actions">
    <%= f.button :submit ,:class => 'btn btn-primary'%>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),employees_path, :class => 'btn' %>
  </div>
<% end %>
