<%- model_class = Employee -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:empno) %>:</strong></dt>
  <dd><%= @employee.empno %></dd>
  <dt><strong><%= model_class.human_attribute_name(:first_name) %>:</strong></dt>
  <dd><%= @employee.first_name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:middle_name) %>:</strong></dt>
  <dd><%= @employee.middle_name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:last_name) %>:</strong></dt>
  <dd><%= @employee.last_name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:gender) %>:</strong></dt>
  <dd><%= @employee.gender %></dd>
  <dt><strong><%= model_class.human_attribute_name(:dob) %>:</strong></dt>
  <dd><%= @employee.dob %></dd>
  <dt><strong><%= model_class.human_attribute_name(:passportno) %>:</strong></dt>
  <dd><%= @employee.passportno %></dd>
  <dt><strong><%= model_class.human_attribute_name(:pidate) %>:</strong></dt>
  <dd><%= @employee.pidate %></dd>
  <dt><strong><%= model_class.human_attribute_name(:pedate) %>:</strong></dt>
  <dd><%= @employee.pedate %></dd>
  <dt><strong><%= model_class.human_attribute_name(:iqamano) %>:</strong></dt>
  <dd><%= @employee.iqamano %></dd>
  <dt><strong><%= model_class.human_attribute_name(:iqidate) %>:</strong></dt>
  <dd><%= @employee.iqidate %></dd>
  <dt><strong><%= model_class.human_attribute_name(:iqedate) %>:</strong></dt>
  <dd><%= @employee.iqedate %></dd>
  <dt><strong><%= model_class.human_attribute_name(:insuranceno) %>:</strong></dt>
  <dd><%= @employee.insuranceno %></dd>
  <dt><strong><%= model_class.human_attribute_name(:iidate) %>:</strong></dt>
  <dd><%= @employee.iidate %></dd>
  <dt><strong><%= model_class.human_attribute_name(:iedate) %>:</strong></dt>
  <dd><%= @employee.iedate %></dd>
  <dt><strong><%= model_class.human_attribute_name(:visano) %>:</strong></dt>
  <dd><%= @employee.visano %></dd>
  <dt><strong><%= model_class.human_attribute_name(:vidate) %>:</strong></dt>
  <dd><%= @employee.vidate %></dd>
  <dt><strong><%= model_class.human_attribute_name(:vedate) %>:</strong></dt>
  <dd><%= @employee.vedate %></dd>
  <dt><strong><%= model_class.human_attribute_name(:Marstatus) %>:</strong></dt>
  <dd><%= @employee.Marstatus %></dd>
  <dt><strong><%= model_class.human_attribute_name(:religion) %>:</strong></dt>
  <dd><%= @employee.religion %></dd>
  <dt><strong><%= model_class.human_attribute_name(:nationality) %>:</strong></dt>
  <dd><%= @employee.nationality %></dd>
  <dt><strong><%= model_class.human_attribute_name(:civstatus) %>:</strong></dt>
  <dd><%= @employee.civstatus %></dd>
  <dt><strong><%= model_class.human_attribute_name(:designation) %>:</strong></dt>
  <dd><%= @employee.designation %></dd>
  <dt><strong><%= model_class.human_attribute_name(:department) %>:</strong></dt>
  <dd><%= @employee.department %></dd>
  <dt><strong><%= model_class.human_attribute_name(:speciali) %>:</strong></dt>
  <dd><%= @employee.speciali %></dd>
  <dt><strong><%= model_class.human_attribute_name(:exp) %>:</strong></dt>
  <dd><%= @employee.exp %></dd>
  <dt><strong><%= model_class.human_attribute_name(:email) %>:</strong></dt>
  <dd><%= @employee.email %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              employees_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_employee_path(@employee), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              employee_path(@employee),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
