<%= simple_form_for @contract, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.input :empno,collection: Employee.all,label_method: :empno,value_method: :id,label: "Employee Name" ,:include_blank => false%>
    <%= f.input :htype, label: 'Hire Type',collection: ["#"]%>
    <%= f.input :status, label: 'Status',collection: [["Single","single"],["Family","family"]], as: :radio_buttons%>
    <%= f.input :cstart, label: 'Contract Start Date'%>
    <%= f.input :cend, label: 'Contract End Date'%>
    <%= f.input :pstart, label: 'Probation Start Date'%>
    <%= f.input :pend, label: 'Probation End Date'%>
    <%= f.input :nameiqama, label: 'Name in Iqama'%>
    <%= f.input :proiqama, label: 'Profession in Iqama'%>
  </div>

  <div class="form-actions">
    <%= f.button :submit ,:class => 'btn btn-primary'%>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                contracts_path, :class => 'btn' %>
  </div>
<% end %>
