<%- model_class = Contract -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:empno) %>:</strong></dt>
  <dd><%= @contract.empno %></dd>
  <dt><strong><%= model_class.human_attribute_name(:htype) %>:</strong></dt>
  <dd><%= @contract.htype %></dd>
  <dt><strong><%= model_class.human_attribute_name(:status) %>:</strong></dt>
  <dd><%= @contract.status %></dd>
  <dt><strong><%= model_class.human_attribute_name(:cstart) %>:</strong></dt>
  <dd><%= @contract.cstart %></dd>
  <dt><strong><%= model_class.human_attribute_name(:cend) %>:</strong></dt>
  <dd><%= @contract.cend %></dd>
  <dt><strong><%= model_class.human_attribute_name(:pstart) %>:</strong></dt>
  <dd><%= @contract.pstart %></dd>
  <dt><strong><%= model_class.human_attribute_name(:pend) %>:</strong></dt>
  <dd><%= @contract.pend %></dd>
  <dt><strong><%= model_class.human_attribute_name(:nameiqama) %>:</strong></dt>
  <dd><%= @contract.nameiqama %></dd>
  <dt><strong><%= model_class.human_attribute_name(:proiqama) %>:</strong></dt>
  <dd><%= @contract.proiqama %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              contracts_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_contract_path(@contract), :class => 'btn' %>
</div>
