<%- model_class = Document -%>
<%= simple_form_for @document, :html => {:multipart => true ,:class => 'form-horizontal' } do |f| %>
   <div class="control-group">
    <%= f.input :empno,collection: Employee.all,label_method: :empno,value_method: :empno,:include_blank => false,label: "Employee No"%>
  <div class="attach-set">
      <%= f.label model_class.human_attribute_name(:sig)%> &nbsp
      <%= f.attachinary_file_field :sig %>
  </div><br>
     <div class="attach-set">
      <%= f.label model_class.human_attribute_name(:passport)%> &nbsp
      <%= f.attachinary_file_field :passport %>
  </div><br>
    <div class="attach-set">
      <%= f.label model_class.human_attribute_name(:iqama)%> &nbsp
      <%= f.attachinary_file_field :iqama %>
  </div><br>
    <div class="attach-set">
      <%= f.label model_class.human_attribute_name(:visa)%> &nbsp
      <%= f.attachinary_file_field :visa %>
  </div> 

  <div class="form-actions">
    <%= f.button :submit ,:class => 'btn btn-primary'%>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),documents_path, :class => 'btn' %>
  </div>
</div>
<% end %>
