<%- model_class = Document -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>S#</th>
      <th><%= model_class.human_attribute_name(:empno) %></th>
      <th><%=t("documents.name")%></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @documents.each_with_index do |document,i| %>
      <tr>
        <td><%= link_to (i+1), document_path(document),{class: "link"} %></td>
        <td><%= link_to document.empno,document_path(document),{class: "link"} %></td>
        <td><% unless document.nil? %><%= Employee.find_by_empno(document.empno).send(:fullname) %><% end %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_document_path(document), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      document_path(document),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="form-actions">
<%= link_to t('.new', :default => t("helpers.links.new")),
            new_document_path,
            :class => 'btn btn-primary' %>
</div>
