<%= simple_form_for(@search,:html => { :class => 'form-inline' })  do |f| %>
  <%= f.error_notification %>

  <div class="control-group">
    <%= f.input :doc,collection: [["Passport","pedate"],["Visa","vedate"],["Insurance","iedate"],["Iqama","iqedate"]],:include_blank => false%>
    <%= f.input :edate%>
  </div>

  <div class="form-actions">
    <%= f.submit t("helpers.label.search.search").html_safe,:class => 'btn btn-primary'%>
  </div>
<% end %>
