<%= simple_form_for(@search,:html => { :class => 'form-inline' })  do |f| %>
  <%= f.error_notification %>

  <div class="control-group">
    <%= f.input :doc,label: "Documents",collection: [["Passport","pedate"],["Visa","vedate"],["Insurance","iedate"],["Iqama","iqedate"]],:include_blank => false%>
    <%= f.input :edate, label: "Expiring within" %>
  </div>

  <div class="form-actions">
    <%= f.submit "Search",:class => 'btn btn-primary'%>
  </div>
<% end %>
