<div class="table table-striped">
<%= content_tag :h2, display_results_header(@search.employees.size) %>
<%= content_tag :table do %>
<%= content_tag :thead, display_sort_column_headers(@search), nil, false %>
<%= content_tag :tbody, display_search_results(@search.employees), nil, false %>
<% end %>
</div>
<div class="form-actions">
<%= link_to 'Back',new_search_path,:class => 'btn btn-mini' %>
<%= link_to "To Excel",search_path(params.merge(format: 'xls')),:class => 'btn btn-mini' %>
</div>