<%- model_class = Vehicle -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>S#</th>
      <th><%= model_class.human_attribute_name(:reg) %></th>
      <th><%= model_class.human_attribute_name(:model) %></th>
      <th><%= model_class.human_attribute_name(:isthiedate) %></th>
      <th><%= model_class.human_attribute_name(:dname) %></th>
      <th><%= model_class.human_attribute_name(:nextsdate) %></th>
      <th><%= model_class.human_attribute_name(:remarks) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @vehicles.each_with_index do |vehicle,i| %>
      <tr>
        <td><%= link_to (i+1), vehicle_path(vehicle) %></td>
        <td><%= link_to vehicle.reg,vehicle_path(vehicle) %></td>
        <td><%= vehicle.model %></td>
        <td><%= vehicle.isthiedate %></td>
        <td><%= vehicle.dname %></td>
        <td><%= vehicle.nextsdate %></td>
        <td><%= vehicle.remarks %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_vehicle_path(vehicle), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      vehicle_path(vehicle),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="form-actions">
<%= link_to t('.new', :default => t("helpers.links.new")),
            new_vehicle_path,
            :class => 'btn btn-primary' %>
</div>
