<%= simple_form_for @education, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.input :empno,label: "Employee Number",collection: ["#"]%>
    <%= f.input :edtype,label: "Education Type",collection: ["#"]%>
    <%= f.input :degyear,label: "Degree Year",collection: 1947...2020%>
    <%= f.input :deg,label: "Degree",collection: ["#"]%>
    <%= f.input :special,label: "Specialization"%>
    <%= f.input :verified,label: "Verified"%>
    <%= f.input :verby,label: "Verified By",collection: ["#"]%>
  </div>

  <div class="form-actions">
    <%= f.button :submit ,:class => 'btn btn-primary'%>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                educations_path, :class => 'btn' %>
  </div>
<% end %>
