<%= simple_form_for @education, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.input :empno,collection: Employee.all,label_method: :empno,value_method: :empno,label: "Employee Number" ,:include_blank => false%>
    <%= f.input :edtype,collection: ["High School","Diploma","Graduate","Post Graduate","Doctorate"],include_blank: false%>
    <%= f.input :degyear,collection: 1947...2020,include_blank: false%>
    <%= f.input :deg,collection: ["BS","MS","BE","ME","BTech","MTech","MBA","BCom","MCom","Phd"],include_blank: false%>
    <%= f.input :special%>
    <%= f.input :verified%>
    <%= f.input :verby,collection: Employee.all,label_method: :empno,value_method: :empno,include_blank: false%>
  </div>

  <div class="form-actions">
    <%= f.button :submit ,:class => 'btn btn-primary'%>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                educations_path, :class => 'btn' %>
  </div>
<% end %>
