<header class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-inner">
      <div class="container">
      <% if false%>
        <%= link_to image_tag("palback_w.jpeg",alt: "Palmate"),"http://www.palmate.in", id: "logo" %>
      <% end %>
        <%= link_to image_tag("Untitled.jpeg",alt: "Palmate"),"http://www.palmate.in", id: "logo" %>
        <nav>
          <ul class="nav pull-left">
            <li><%= link_to t("layouts.header.home").html_safe,root_path %></li>
            <%if false %>
            <li><%= link_to t("layouts.header.help").html_safe,help_path %></li>
            <%end %>
            <% if signed_in? %>
            <li><%= link_to t("layouts.header.employees").html_safe ,employees_path %></li>
            <li><%= link_to t("layouts.header.educations").html_safe,educations_path %></li>
            <li><%= link_to t("layouts.header.contracts").html_safe,contracts_path %></li>
            <li><%= link_to t("layouts.header.search").html_safe,new_search_path %></li>
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <%=t("layouts.header.documents").html_safe%> <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to t("layouts.header.passport").html_safe,passport_path%></li>
                <li><%= link_to t("layouts.header.iqama").html_safe,iqama_path%></li>
                <li><%= link_to t("layouts.header.insurance").html_safe,insurance_path%></li>
                <li><%= link_to t("layouts.header.visa").html_safe,visa_path%></li>
                <li><%= link_to t("layouts.header.upload").html_safe,documents_path%></li>
              </ul>
            </li>
            <li><%= link_to t("layouts.header.vehicles").html_safe ,vehicles_path %></li>
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <%= t("layouts.header.accounts").html_safe %> <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to t("layouts.header.settings").html_safe, "#"%></li>
                <li class="divider"></li>
                <li>
                  <%= link_to t("layouts.header.signout").html_safe, signout_path, method: "delete" %>
                </li>
              </ul>
            </li>
          <% end %>
          </ul>
        
          <ul class="nav pull-right">
            <li>  <%= link_to_unless_current t("layouts.header.english").html_safe, locale: "en" %></li>
            <li>  <%= link_to_unless_current t("layouts.header.arabic").html_safe, locale: "ar" %></li>
           <% if signed_in? %>  
            <%= form_tag find_path,:controller => 'employees',:method => :get,:action => 'search',:class => 'navbar-search pull-right' do %>
              <%= text_field_tag :keyword,params[:keyword],:id => 'search_field' ,class: "search-query",placeholder: "Search" %>
            <%end%>
          </ul>
          <% end %>
        </nav>
      </div>
    </div>
  </header>
